<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de visitas</title>
</head>

<body>
    <header th:replace="plantillas/Partes :: cabecero-visitas"></header>
    
    <a th:href="@{/visitas/agregar/{id}(id=${user.id})}">[[#{visita.crear}]]</a>

    <hr>
    <div th:if="${visitas != null and !visitas.isEmpty()}">
        <table border="1">
            <tr>
                <th>[[#{visita.id}]]</th>
                <th>[[#{visita.location}]]</th>
                <th>[[#{visita.duration}]]</th>
                <th>[[#{visita.number_of_persons}]]</th>
                <th>[[#{visita.visit_date}]]</th>
                <th>[[#{accion.editar}]]</th>
                <th>[[#{accion.eliminar}]]</th>
                </tr>
            <tr th:each="visita : ${visitas}">
                <td th:text="${visita.id}"></td>
                <td th:text="${visita.location}"></td>
                <td th:text="${visita.duration}"></td>
                <td th:text="${visita.number_of_persons}"></td>
                <td th:text="${visita.visit_date}"></td>
                <td><a th:href="@{/visitas/editar/{id}(id=${visita.id})}">[[#{accion.editar}]]</a></td>
                <td><a th:href="@{/visitas/eliminar/{id}(id=${visita.id})}">[[#{accion.eliminar}]]</a></td>
            </tr>
        </table>
    </div>
    <div th:if="${visitas == null or visitas.isEmpty()}">
        <h2>[[#{visita.lista-vacia}]]</h2>
    </div>
    <br>
    <hr>

</body>

</html>