<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJEMPLO DE APP WEB CON SPRING BOOT</title>
</head>

<body>
    <header th:fragment="cabecero">
        <h1 th:text="#{plantillas.titulo}"> El Titulo</h1>
    </header>
    <footer th:fragment="pie">
        <span th:text="#{plantillas.pie}">El pie</span>
        <p><a href="https://github.com/LvegaR11">
                Link del Perfil GitHub
            </a>
        </p>
    </footer>
</body>

</html>