<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJEMPLO DE CRUD MVC CON SPRINT BOOT</title>
</head>
<body>
    <header th:replace="plantillas/Partes :: cabecero"></header>
    <h2>PAGINA DE INICIO</h2>  
    <a th:href="@{/addUser}">CREAR NUEVO USUARIO</a>
    <h4>LISTA DE USUARIOS</h4>
    <hr>
    <div th:if="${users != null and !users.isEmpty()}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Role</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Status</th>
                <th>Fecha de creación</th>
                <th>EDITAR</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.last_name}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.status}"></td>
                <td th:text="${user.created_at}"></td>
                <td><a th:href="@{/editUser/}+${user.id}" th:text="EDITAR"></a></td>
                <td><a th:href="@{/deleteUser/}+${user.id}" th:text="ELIMINAR"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${users == null or users.isEmpty()}">
        <h4>NO HAY USUARIOS REGISTRADOS</h4>
    </div><hr><br>
    <footer th:replace="plantillas/Partes :: pie"></footer>
</body>
</html>